@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body{
    background-color: black;
   
}
.main {
    background-image: url("Images/top.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}
.main .box {
  height: 644px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* ✅ black overlay */
  position: absolute;
  top: 0;
  left: 0;
}

.flex {
 max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img {
  color: rgba(218, 10, 10, 0.464);
  width: 150px;
  position: relative;
  z-index: 1;

  top: 10px;
}
nav button {
  position: relative;
  z-index: 10;
}
.hero {

  height:calc (100%-62px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  z-index: 10;
  flex-direction: column;
  font-family: "Martel Sans", sans-serif;
line-height: 1.4;
padding: 23px;
text-align: center;

  
}
.hero> :first-child{
    font-weight: 900;
    font-size: 56px;
}
.hero> :nth-child(2) {
      font-weight: 900;
    font-size: 56px;
 
}
.hero> :nth-child(3) {
     font-weight: 500;
     font-size: 20px;
      margin-top: 10px;
}

.hero :nth-child(4) {
     font-weight: 400;
     font-size: 16px;
   margin-top: 25px;
}




.sepration {
  position: relative;
  height: 3px;
  background: linear-gradient(
    to right,
    rgba(33, 13, 22, 1) 16%,
    rgba(184, 40, 105, 1),
    rgba(229, 9, 20, 1),
    rgba(184, 40, 105, 1),
    rgba(33, 13, 22, 1) 84%
  );

  box-shadow:
    0 0 20px rgba(0, 123, 255, 0.5),
    0 0 40px rgba(0, 123, 255, 0.5),
    0 0 80px rgba(0, 123, 255, 0.3);
}

.sepration::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
                                                                                                                                  
  transform: translateX(-50%);
  width: 400px;
  height: 50px;
  /* background: radial-gradient(
    ellipse at end,
    rgba(0, 123, 255, 0.8) 0%,
    rgba(0, 123, 255, 0.4) 40%,
    rgba(0, 123, 255, 0.1) 80%,
    transparent 100%
  ); */
  border-radius: 50%;
  border:radial-gradient(
    ellipse at center,
    rgba(0, 123, 255, 0.8) 0%,
    rgba(0, 123, 255, 0.4) 40%,
    rgba(0, 123, 255, 0.1) 80%,
    transparent 100% );
  filter: blur(49px);
  z-index: -1;
  opacity: 1;
}
.btn{

  padding:min( 5em 8%);
  font-weight: 10vw;
  border: none;
  border-radius: 7px;
  padding: 9px;
  background-color:rgba(23,23,23,0.5) ;
  color:rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(246,238,238,0.5);
  font-family:  poppins, sans-serif;

  

}
.btn-red {
  color: white;
  background-color: red;
  padding: 0.60rem 1.4rem;
  font-size: 24px;
  border-radius: 7px;
  border: none;
  font-weight: 400;
  max-width: 100%; 
  display: inline-block;
  white-space: nowrap;
  
}
.main input {
  padding: 14px 50px; 
  font-size: 15px;
  border-radius: 4px;
  background-color: rgba(23,23,23,0.7);
  border: 1px solid rgba(246,238,238,0.5);
  color: white;

  
}

.hero-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:16px;
  border-radius: 7px;
  padding: 10px 24px;

  
}
.btn-red-sm{
  background-color: red;
  color: white;
  border: none;
}
.first{
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin:auto;
  color :white;
  justify-content: center;
  align-items: center;
  

  
}
@media screen and (max-width: 1300px) {
  
  .first{
    flex-wrap: wrap;
  }
}


.secImg{
  position: relative;
 
}
.secImg img{
  width: 555px;
position: relative;
z-index: 10;
  
}
.secImg video{
 
width: 500px;
   position: absolute;
 top:70px;
right: 10px;
overflow: hidden;
}

section.first >div{
  font-family: poppins, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}

section.first >div :nth-child(1) {


  font-size: 30px;
 font-weight: bold;
}
section.first >div :nth-child(2) {
  font-size: 20px;



}
.faq h2 {

  color: white;
  text-align: center;
font-family: poppins, sans-serif;

}
.faq{
  background: black;
  color: white;
    padding: 34px;
    
    
}

.faqbox{
transition: all 1s ease-in-out;
  display: flex;
  background-color: rgba(71, 69, 69, 0.7);

  padding: 24px;
max-width: 60vw;
  width: 100%;
  margin:10px auto;
   font-weight: 400;
   font-family: Netflix Sans, sans-serif;
   font-size: 24px;
 
}
.faqbox svg {
  width: 24px;
  height: 24px;
  margin-left: auto;
  cursor: pointer;

}
.faqbox:hover {

  background-color: #474747; 
  transition: background-color 0.3s ease;


}
footer{
  color:white;
  max-width: 60vw;
margin: auto;
padding: 14px;
transition: all 1s ease-in-out;
}
.footer{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  color: white;
padding-bottom: 28px;
}
@media screen and (max-width: 1300px) {
 .footer{
  display: grid;
  grid-template-columns:  1fr 1fr ;
  color: white;
padding-bottom: 28px;
gap: 30px;

 }
 .secImg img{
  width: 350px;
  position: relative;
  

}
.secImg video{
 
width: 310px; 


}
  
}
footer .questions{
 padding: 34px 0;}

.footer-item{
  display: flex;
  flex-direction: column;
  gap:13px
}
.footer a{
font-size: 14px;
color: white;}